# Librerias

In [ ]:
# Librerias Python
import pandas as pd

from sqlalchemy import create_engine

import requests
import json

import pandas as pd
pd.options.display.max_columns = None
pd.options.display.max_colwidth = None

# Funciones

In [ ]:
# Funciones Python

# Macrovariables

In [ ]:
#Rutas

#Macrovariables

# Pregunta 1: Cargar los archivos de la carpeta datos y almacenar como dataframe ( 8 ptos )

In [ ]:
path_archivo = 'empleados.xlsx'
df = pd.read_excel(path_archivo, header=0)
df

,EMPLOYEE_ID,FIRST_NAME,LAST_NAME,EMAIL,PHONE_NUMBER,HIRE_DATE,JOB_ID,SALARY,COMMISSION_PCT,MANAGER_ID,DEPARTMENT_ID
0,100,Steven,King,SKING,515.123.4567,6/17/2003,AD_PRES,24000,NaN,NaN,90.0
1,101,Neena,Kochhar,NKOCHHAR,515.123.4568,9/21/2005,AD_VP,17000,NaN,100.0,90.0
2,102,Lex,De Haan,LDEHAAN,515.123.4569,1/13/2001,AD_VP,17000,NaN,100.0,90.0
3,103,Alexander,Hunold,AHUNOLD,590.423.4567,2006-03-01 00:00:00,IT_PROG,9000,NaN,102.0,60.0
4,104,Bruce,Ernst,BERNST,590.423.4568,5/21/2007,IT_PROG,6000,NaN,103.0,60.0
...,...,...,...,...,...,...,...,...,...,...,...
102,202,Pat,Fay,PFAY,603.123.6666,8/17/2005,MK_REP,6000,NaN,201.0,20.0
103,203,Susan,Mavris,SMAVRIS,515.123.7777,2002-07-06 00:00:00,HR_REP,6500,NaN,101.0,40.0
104,204,Hermann,Baer,HBAER,515.123.8888,2002-07-06 00:00:00,PR_REP,10000,NaN,101.0,70.0
105,205,Shelley,Higgins,SHIGGINS,515.123.8080,2002-07-06 00:00:00,AC_MGR,12008,NaN,101.0,110.0
106,206,William,Gietz,WGIETZ,515.123.8181,2002-07-06 00:00:00,AC_ACCOUNT,8300,NaN,205.0,110.0

## Pregunta 2: Importar datos y hacer dos ejemplos de filtros ( 2 ptos)

In [ ]:
# 1er filtro: convertir nombres a mayusculas
df['FIRST_NAME'] = df['FIRST_NAME'].str.upper()
df['LAST_NAME'] = df['LAST_NAME'].str.upper()
df.head()

,EMPLOYEE_ID,FIRST_NAME,LAST_NAME,EMAIL,PHONE_NUMBER,HIRE_DATE,JOB_ID,SALARY,COMMISSION_PCT,MANAGER_ID,DEPARTMENT_ID
0,100,STEVEN,KING,SKING,515.123.4567,6/17/2003,AD_PRES,24000,NaN,NaN,90.0
1,101,NEENA,KOCHHAR,NKOCHHAR,515.123.4568,9/21/2005,AD_VP,17000,NaN,100.0,90.0
2,102,LEX,DE HAAN,LDEHAAN,515.123.4569,1/13/2001,AD_VP,17000,NaN,100.0,90.0
3,103,ALEXANDER,HUNOLD,AHUNOLD,590.423.4567,2006-03-01 00:00:00,IT_PROG,9000,NaN,102.0,60.0
4,104,BRUCE,ERNST,BERNST,590.423.4568,5/21/2007,IT_PROG,6000,NaN,103.0,60.0

In [ ]:
# 2do filtro: Contar valores nulos
print(df.shape)
df.info()

(107, 11)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 107 entries, 0 to 106
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   EMPLOYEE_ID     107 non-null    int64
 1   FIRST_NAME      107 non-null    object
 2   LAST_NAME       107 non-null    object
 3   EMAIL           107 non-null    object
 4   PHONE_NUMBER    107 non-null    object
 5   HIRE_DATE       107 non-null    object
 6   JOB_ID          107 non-null    object
 7   SALARY          107 non-null    int64
 8   COMMISSION_PCT  35 non-null     float64
 9   MANAGER_ID      106 non-null    float64
 10  DEPARTMENT_ID   106 non-null    float64
dtypes: float64(3), int64(2), object(6)
memory usage: 9.3+ KB

Encontramos que hay valores nulos en las columnas COMMISSION_PCT, MANAGER_ID y DEPARTAMENT_ID. Para verificar el nÃºmero exacto aplicamos el filtro de selecciÃ³n de valores nulos

In [ ]:
filtro = ( df['COMMISSION_PCT'].isnull() )
filtro_1 = df.loc[filtro]
filtro_1

,EMPLOYEE_ID,FIRST_NAME,LAST_NAME,EMAIL,PHONE_NUMBER,HIRE_DATE,JOB_ID,SALARY,COMMISSION_PCT,MANAGER_ID,DEPARTMENT_ID
0,100,STEVEN,KING,SKING,515.123.4567,6/17/2003,AD_PRES,24000,NaN,NaN,90.0
1,101,NEENA,KOCHHAR,NKOCHHAR,515.123.4568,9/21/2005,AD_VP,17000,NaN,100.0,90.0
2,102,LEX,DE HAAN,LDEHAAN,515.123.4569,1/13/2001,AD_VP,17000,NaN,100.0,90.0
3,103,ALEXANDER,HUNOLD,AHUNOLD,590.423.4567,2006-03-01 00:00:00,IT_PROG,9000,NaN,102.0,60.0
4,104,BRUCE,ERNST,BERNST,590.423.4568,5/21/2007,IT_PROG,6000,NaN,103.0,60.0
...,...,...,...,...,...,...,...,...,...,...,...
102,202,PAT,FAY,PFAY,603.123.6666,8/17/2005,MK_REP,6000,NaN,201.0,20.0
103,203,SUSAN,MAVRIS,SMAVRIS,515.123.7777,2002-07-06 00:00:00,HR_REP,6500,NaN,101.0,40.0
104,204,HERMANN,BAER,HBAER,515.123.8888,2002-07-06 00:00:00,PR_REP,10000,NaN,101.0,70.0
105,205,SHELLEY,HIGGINS,SHIGGINS,515.123.8080,2002-07-06 00:00:00,AC_MGR,12008,NaN,101.0,110.0
106,206,WILLIAM,GIETZ,WGIETZ,515.123.8181,2002-07-06 00:00:00,AC_ACCOUNT,8300,NaN,205.0,110.0

In [ ]:
print("El nÃºmero total de valores nulos de COMMISSION_PCT es:")
print(len(filtro_1))

El nÃºmero total de valores nulos de COMMISSION_PCT es:
72

In [ ]:
filtro = ( df['MANAGER_ID'].isnull() )
filtro_2 = df.loc[filtro]
filtro_2

,EMPLOYEE_ID,FIRST_NAME,LAST_NAME,EMAIL,PHONE_NUMBER,HIRE_DATE,JOB_ID,SALARY,COMMISSION_PCT,MANAGER_ID,DEPARTMENT_ID
0,100,STEVEN,KING,SKING,515.123.4567,6/17/2003,AD_PRES,24000,NaN,NaN,90.0

In [ ]:
print("El nÃºmero total de valores nulos de MANAGER_ID es:")
print(len(filtro_2))

El nÃºmero total de valores nulos de MANAGER_ID es:
1

In [ ]:
filtro = ( df['DEPARTMENT_ID'].isnull() )
filtro_3 = df.loc[filtro]
filtro_3

,EMPLOYEE_ID,FIRST_NAME,LAST_NAME,EMAIL,PHONE_NUMBER,HIRE_DATE,JOB_ID,SALARY,COMMISSION_PCT,MANAGER_ID,DEPARTMENT_ID
78,178,KIMBERELY,GRANT,KGRANT,011.44.1644.429263,5/24/2007,SA_REP,7000,0.15,149.0,NaN

In [ ]:
print("El nÃºmero total de valores nulos de DEPARTMENT_ID es:")
print(len(filtro_3))

El nÃºmero total de valores nulos de DEPARTMENT_ID es:
1

## Pregunta 3: Importar datas "empleados" y hacer 2 tipos de tratamientos distintos al campo Job_ID ( 3 ptos)

In [ ]:
path_archivo = 'empleados.xlsx'
df = pd.read_excel(path_archivo, header=0)
df.head()

,EMPLOYEE_ID,FIRST_NAME,LAST_NAME,EMAIL,PHONE_NUMBER,HIRE_DATE,JOB_ID,SALARY,COMMISSION_PCT,MANAGER_ID,DEPARTMENT_ID
0,100,Steven,King,SKING,515.123.4567,6/17/2003,AD_PRES,24000,NaN,NaN,90.0
1,101,Neena,Kochhar,NKOCHHAR,515.123.4568,9/21/2005,AD_VP,17000,NaN,100.0,90.0
2,102,Lex,De Haan,LDEHAAN,515.123.4569,1/13/2001,AD_VP,17000,NaN,100.0,90.0
3,103,Alexander,Hunold,AHUNOLD,590.423.4567,2006-03-01 00:00:00,IT_PROG,9000,NaN,102.0,60.0
4,104,Bruce,Ernst,BERNST,590.423.4568,5/21/2007,IT_PROG,6000,NaN,103.0,60.0

In [ ]:
df['JOB_ID'].unique()

array(['AD_PRES', 'AD_VP', 'IT_PROG', 'FI_MGR', 'FI_ACCOUNT', 'PU_MAN',
       'PU_CLERK', 'ST_MAN', 'ST_CLERK', 'SA_MAN', 'SA_REP', 'SH_CLERK',
       'AD_ASST', 'MK_MAN', 'MK_REP', 'HR_REP', 'PR_REP', 'AC_MGR',
       'AC_ACCOUNT'], dtype=object)

In [ ]:
# 1er tratamiento: separaciÃ³n por tipo de trabajo e identificaciÃ³n
df[['JOB', 'ID']] = df['JOB_ID'].str.split('_', expand=True)
df.head()

,EMPLOYEE_ID,FIRST_NAME,LAST_NAME,EMAIL,PHONE_NUMBER,HIRE_DATE,JOB_ID,SALARY,COMMISSION_PCT,MANAGER_ID,DEPARTMENT_ID,JOB,ID
0,100,Steven,King,SKING,515.123.4567,6/17/2003,AD_PRES,24000,NaN,NaN,90.0,AD,PRES
1,101,Neena,Kochhar,NKOCHHAR,515.123.4568,9/21/2005,AD_VP,17000,NaN,100.0,90.0,AD,VP
2,102,Lex,De Haan,LDEHAAN,515.123.4569,1/13/2001,AD_VP,17000,NaN,100.0,90.0,AD,VP
3,103,Alexander,Hunold,AHUNOLD,590.423.4567,2006-03-01 00:00:00,IT_PROG,9000,NaN,102.0,60.0,IT,PROG
4,104,Bruce,Ernst,BERNST,590.423.4568,5/21/2007,IT_PROG,6000,NaN,103.0,60.0,IT,PROG

In [ ]:
# 2do tratamiento: contamos los tipos de JOB_ID
df['JOB_ID'].value_counts()

JOB_ID
SA_REP        30
ST_CLERK      20
SH_CLERK      20
ST_MAN         5
SA_MAN         5
IT_PROG        5
FI_ACCOUNT     5
PU_CLERK       5
AD_VP          2
AD_PRES        1
PU_MAN         1
FI_MGR         1
AD_ASST        1
MK_MAN         1
MK_REP         1
HR_REP         1
PR_REP         1
AC_MGR         1
AC_ACCOUNT     1
Name: count, dtype: int64

In [ ]:
# Los tipo de la parte JOB
df['JOB'].value_counts()

JOB
SA    35
ST    25
SH    20
FI     6
PU     6
IT     5
AD     4
MK     2
AC     2
HR     1
PR     1
Name: count, dtype: int64

In [ ]:
# Y los tipo de la parte ID
df['ID'].value_counts()

ID
CLERK      45
REP        33
MAN        12
ACCOUNT     6
PROG        5
MGR         2
VP          2
PRES        1
ASST        1
Name: count, dtype: int64

# Pregunta 4: Importar la tabla de mÃ¡ximos goleadores Champions (3 ptos)

In [ ]:
url = 'https://es.wikipedia.org/wiki/Anexo:Goleadores_de_la_Liga_de_Campeones_de_la_UEFA'

In [ ]:
# Verificamos la lista de tablas y en quÃ© tabla esta lo solicitado
listTablas = pd.read_html(url)
print(len(listTablas))

5

In [ ]:
# Vemos que esta en la primera tabla
idTabla = 1
df = listTablas[idTabla]
df

,Temporada,Jugador,Equipo,Goles
0,1955-56,MiloÅ¡ MilutinoviÄ‡,F. K. Partizan Belgrado,8
1,1956-57,Dennis Viollet,Manchester United F. C.,9
2,1957-58,Alfredo Di StÃ©fano,Real Madrid C. F.,10
3,1958-59,Just Fontaine,Stade de Reims,10
4,1959-60,Ferenc PuskÃ¡s,Real Madrid C. F.,12
...,...,...,...,...
64,2019-20,Robert Lewandowski,F. C. Bayern MÃºnich,15
65,2020-21,Erling Haaland,B. V. Borussia,10
66,2021-22,Karim Benzema,Real Madrid C. F.,15
67,2022-23,Erling Haaland,Manchester City F. C.,12
68,2023-24,Harry Kane Kylian MbappÃ©,F. C. Bayern MÃºnich ParÃ­s Saint-Germain F. C.,8

In [ ]:
# Se ordena automÃ¡ticamente de la temporada mÃ¡s antigua a la mÃ¡s reciente

# Pregunta 5: Pasar a dataframe la data del siguiente API (4 ptos)

In [154]:
url = 'https://pokeapi.co/api/v2/pokemon-habitat/'

In [155]:
# Verificamos si la API esta bien ejecutada
response = requests.get(url)
print(type(response))
print(response.status_code)
response.text

<class 'requests.models.Response'>
200

'{"count":9,"next":null,"previous":null,"results":[{"name":"cave","url":"https://pokeapi.co/api/v2/pokemon-habitat/1/"},{"name":"forest","url":"https://pokeapi.co/api/v2/pokemon-habitat/2/"},{"name":"grassland","url":"https://pokeapi.co/api/v2/pokemon-habitat/3/"},{"name":"mountain","url":"https://pokeapi.co/api/v2/pokemon-habitat/4/"},{"name":"rare","url":"https://pokeapi.co/api/v2/pokemon-habitat/5/"},{"name":"rough-terrain","url":"https://pokeapi.co/api/v2/pokemon-habitat/6/"},{"name":"sea","url":"https://pokeapi.co/api/v2/pokemon-habitat/7/"},{"name":"urban","url":"https://pokeapi.co/api/v2/pokemon-habitat/8/"},{"name":"waters-edge","url":"https://pokeapi.co/api/v2/pokemon-habitat/9/"}]}'

In [156]:
# Verificamos si es una lista para pasar a df
data = json.loads(response.text)
print(type(data))
data

<class 'dict'>

{'count': 9,
 'next': None,
 'previous': None,
 'results': [{'name': 'cave',
   'url': 'https://pokeapi.co/api/v2/pokemon-habitat/1/'},
  {'name': 'forest', 'url': 'https://pokeapi.co/api/v2/pokemon-habitat/2/'},
  {'name': 'grassland', 'url': 'https://pokeapi.co/api/v2/pokemon-habitat/3/'},
  {'name': 'mountain', 'url': 'https://pokeapi.co/api/v2/pokemon-habitat/4/'},
  {'name': 'rare', 'url': 'https://pokeapi.co/api/v2/pokemon-habitat/5/'},
  {'name': 'rough-terrain',
   'url': 'https://pokeapi.co/api/v2/pokemon-habitat/6/'},
  {'name': 'sea', 'url': 'https://pokeapi.co/api/v2/pokemon-habitat/7/'},
  {'name': 'urban', 'url': 'https://pokeapi.co/api/v2/pokemon-habitat/8/'},
  {'name': 'waters-edge',
   'url': 'https://pokeapi.co/api/v2/pokemon-habitat/9/'}]}

In [157]:
# Finalmente convertimos a data frame
df = pd.DataFrame(data['results'])
df

            name                                           url
0           cave  https://pokeapi.co/api/v2/pokemon-habitat/1/
1         forest  https://pokeapi.co/api/v2/pokemon-habitat/2/
2      grassland  https://pokeapi.co/api/v2/pokemon-habitat/3/
3       mountain  https://pokeapi.co/api/v2/pokemon-habitat/4/
4           rare  https://pokeapi.co/api/v2/pokemon-habitat/5/
5  rough-terrain  https://pokeapi.co/api/v2/pokemon-habitat/6/
6            sea  https://pokeapi.co/api/v2/pokemon-habitat/7/
7          urban  https://pokeapi.co/api/v2/pokemon-habitat/8/
8    waters-edge  https://pokeapi.co/api/v2/pokemon-habitat/9/