# Practica Calificada - Manejo Datos con Pandas

In [1]:
# Importar pandas para manejo de data estructurada
import numpy as np
import pandas as pd
print(pd.__version__)

1.5.1

## Importacion de los Datos

In [7]:
# Importando desde csv
dfMobiliario = pd.read_csv('https://raw.githubusercontent.com/aldochavez/datasets/main/MobiliarioEquipamiento.csv', sep = ';', encoding='iso-8859-1')
dfMobiliario.head(5)

,FECHA_CORTE,UBIGEO,REGION,DEPARTAMENTO,PROVINCIA,DISTRITO,CODIGO_MODULAR,CODIGO_LOCAL,NOMBRE_LOCAL,NIVEL_EDUCATIVO,NOMBRE_BIEN,CANTIDAD_BIEN,ESTADO_IMPLEMENTACION,ANIO_ATENCION,COMPONENTE,FECHA_IMPLEMENTACION
0,20230322,10101,Amazonas,Amazonas,Chachapoyas,Chachapoyas,262188,255,SAN JUAN DE LA LIBERTAD,"Básica Alternativa-Avanzado,Básica Alternativa...",IMPRESORA MULTIFUNCIONAL,4,PROGRAMADO,2023,EQUIPAMIENTO,20230330
1,20230322,10101,Amazonas,Amazonas,Chachapoyas,Chachapoyas,262188,255,SAN JUAN DE LA LIBERTAD,"Básica Alternativa-Avanzado,Básica Alternativa...",IMPRESORA MULTIFUNCIONAL,1,PROGRAMADO,2023,EQUIPAMIENTO,20230330
2,20230322,10101,Amazonas,Amazonas,Chachapoyas,Chachapoyas,559138,255,SAN JUAN DE LA LIBERTAD,"Básica Alternativa-Avanzado,Básica Alternativa...",IMPRESORA MULTIFUNCIONAL,6,PROGRAMADO,2023,EQUIPAMIENTO,20230330
3,20230322,10101,Amazonas,Amazonas,Chachapoyas,Chachapoyas,262188,255,SAN JUAN DE LA LIBERTAD,"Básica Alternativa-Avanzado,Básica Alternativa...",PROYECTOR MULTIMEDIA,1,PROGRAMADO,2023,EQUIPAMIENTO,20230330
4,20230322,10101,Amazonas,Amazonas,Chachapoyas,Chachapoyas,262188,255,SAN JUAN DE LA LIBERTAD,"Básica Alternativa-Avanzado,Básica Alternativa...",PROYECTOR MULTIMEDIA,1,PROGRAMADO,2023,EQUIPAMIENTO,20220420

In [8]:
# Importando desde csv
dfIndicadores = pd.read_csv('https://raw.githubusercontent.com/aldochavez/datasets/main/IndicadoresMundiales.csv', sep = ',', encoding='iso-8859-1')
dfIndicadores.head(5)

,Pais,Region,TasaGlobalFecundidad,Anticoncepcion,NivelEducHombres,NivelEducMujer,EsperzHombres,EsperzMujeres,MortalidadInfant,PBI,ActEconomicHombres,ActEconomicMujeres,AlfabetHombres,AlfabetMujers
0,Afghanistan,Asia,6.90,NaN,NaN,NaN,45.0,46.0,154.0,2848.0,87.5,7.2,52.800,85.00
1,Albania,Europe,2.60,NaN,NaN,NaN,68.0,74.0,32.0,863.0,NaN,NaN,NaN,NaN
2,Algeria,Africa,3.81,52.0,11.1,9.9,67.5,70.3,44.0,1531.0,76.4,7.8,26.100,51.00
3,American.Samoa,Asia,NaN,NaN,NaN,NaN,68.0,73.0,11.0,NaN,58.8,42.4,0.264,0.36
4,Andorra,Europe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
# Importando desde csv
dfMarket = pd.read_csv('https://raw.githubusercontent.com/aldochavez/datasets/main/Supermarket_Sales.csv', sep = ',', encoding='iso-8859-1')
dfMarket.head(5)

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3

## Nivel I (5 ptos)

Pregunta 1: Muestre las variables distrito, nombre del bien y cantidad del bien de la tabla mobiliario (1 pto)

In [ ]:
# Desarrolle aqui

Pregunta 2: Muestre las variables pais, región y el PBI de la tabla indicadores (1 ptos)

In [ ]:
# Desarrolle aqui

Pregunta 3: Muestre todas las variables de aquellas facturas que hayan sido pagadas (Payment) con tarjeta de credito (tabla market) (1.5 ptos)

In [10]:
# Desarrolle aqui

Pregunta 4: Muestre el país, la Region además de la tasa de fecundidad y anticoncepcion de los paises de europa (tabla indicadores) (1.5 ptos)

In [ ]:
# Desarrolle aqui

## Nivel II (7.5 ptos)

Pregunta 5: Muestre el Departamento, el nombre del local, el estado de implementación y la decha de implementación de los mobiliarios que sean de provincia (no Lima) y esten en estado de implementación programado (tabla mobiliario) (2.5 ptos)

In [17]:
# Desarrolle aqui

Pregunta 6: Muestre el ID de Factura (Invoice ID), el tipo de Cliente (Customer type), la línea de producto (Product line) y el precio unitario (Unit price) de las facturas cuyo precio unitario sea mayor a 50 y que no sean de la línea de producto 'Health and beauty' ni 'Home and lifestyle' (tabla market) (2.5 ptos)

In [26]:
# Desarrolle aqui

Pregunta 7: Muestre aquellos paises, la region y las tasas de analbetismo de hombres y mujeres que superan la tasa de analfabetismo de hombres o la de mujeres (tabla indicadores) (2.5 ptos)

In [35]:
# Desarrolle aqui

## Nivel III (7.5 ptos)

Pregunta 8: Muestre la suma de cantidad de bienes utilizados vistos por departamento y provincia de los departamentos de Amazonas y San Martin y muestre ordenado de menor a mayor por la cantidad de bienes utilizados (tabla mobiliario) (2.5 ptos)

In [28]:
# Desarrolle aqui

Pregunta 9: Muestre el promedio del PBI visto por region y muestre ordenado de mayor a menor quien tiene mas PBI (tabla Indicadores) (2 ptos)

In [30]:
# Desarrolle aqui

Pregunta 10: Muestre el promedio del precio unitario (Unit price), la suma del total a pagar (Total) y la cantidad de facturas visto por tipo de cliente (Customer type) y genero (Gender) de los clientes de la ciudad (City) de Yangon y de las marcas (Branch) que no sean la C (tabla Market) (3 ptos)

In [33]:
# Desarrolle aqui